@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: #111;
    color: #ddd;
    overflow: hidden;
    /* font-family: 'SummerStory'; */
    font-family: "DotGothic16", serif;
}